    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><%= t('about_section_title') %></h2>
                    <h3 class="section-subheading text-muted"><%= t('about_section_subtitle') %></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <p class="timeline-date"><%= t('about1_date') %></p>
                                    <p class="subheading timeline-date"><%= t('about1_title') %></p>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><%= t('about1_description') %></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <p class="timeline-date"><%= t('about2_date') %></p>
                                    <p class="subheading timeline-date"><%= t('about2_title') %></p>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><%= t('about2_descriotion') %></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <p class="timeline-date"><%= t('about3_date') %></p>
                                    <p class="subheading timeline-date"><%= t('about3_title') %></p>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><%= t('about1_description') %></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <p class="timeline-date"><%= t('about4_date') %></p>
                                    <p class="subheading timeline-date"><%= t('about4_title') %></p>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><%= t('about4_description') %></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
