    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="http://nicoleac.com/">
                        <img src="img/logos/nicole.jpg" class="img-responsive img-centered" alt="Nicole Accessories">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="http://curbcall.com/">
                        <img src="img/logos/curbcall.jpg" class="img-responsive img-centered" alt="CurbCall">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="http://www.treblab.com/">
                        <img src="img/logos/treblab.jpg" class="img-responsive img-centered" alt="Treblab">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=shenzoo%C2%AE">
                        <img src="img/logos/shenzoo.jpg" class="img-responsive img-centered" alt="Shenzoo">
                    </a>
                </div>
            </div>
        </div>
    </aside>