    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><%= t('contact_section_title') %></h2>
                    <h3 class="section-subheading text-muted"><%= t('contact_section_subtitle') %></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="<%= t('contact_field_name') %>" id="name" required data-validation-required-message="<%= t('contact_field_name_validation') %>">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="<%= t('contact_field_email') %>" id="email" required data-validation-required-message="<%= t('contact_field_email_validation') %>">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="<%= t('contact_field_phone') %>" id="phone" required data-validation-required-message="<%= t('contact_field_phone_validation') %>">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="<%= t('contact_field_message') %>" id="message" required data-validation-required-message="<%= t('contact_field_message_validation') %>"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl"><%= t('contact_submit_text') %></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>