
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                
                <a class="navbar-brand page-scroll" href="#page-top"><img class="main-logo-style" src="/img/logo.png" alt="Upward Software"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services"><%= t('menu_service') %></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio"><%= t('menu_portfolio') %></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about"><%= t('menu_about') %></a>
                    </li>
                    <!--
                    <li>
                        <a class="page-scroll" href="#team"><%= t('menu_team') %></a>
                    </li>
                    -->
                    <li>
                        <a class="page-scroll" href="#contact"><%= t('menu_contact') %></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>