    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><%= t('portfolio_section_title') %></h2>
                    <h3 class="section-subheading text-muted"><%= t('portfolio_section_subtitle') %></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="<%= t('portfolio_1_img_url') %>" class="img-responsive" alt="<%= t('portfolio_1_img_alt') %>">
                    </a>
                    <div class="portfolio-caption">
                        <h4><%= t('portfolio_1_title') %></h4>
                        <p class="text-muted"><%= t('portfolio_1_category') %></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="<%= t('portfolio_2_img_url') %>" class="img-responsive" alt="<%= t('portfolio_2_img_alt') %>">
                    </a>
                    <div class="portfolio-caption">
                        <h4><%= t('portfolio_2_title') %></h4>
                        <p class="text-muted"><%= t('portfolio_2_category') %></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="<%= t('portfolio_3_img_url') %>" class="img-responsive" alt="<%= t('portfolio_3_img_alt') %>">
                    </a>
                    <div class="portfolio-caption">
                        <h4><%= t('portfolio_3_title') %></h4>
                        <p class="text-muted"><%= t('portfolio_3_category') %></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="<%= t('portfolio_4_img_url') %>" class="img-responsive" alt="<%= t('portfolio_4_img_alt') %>">
                    </a>
                    <div class="portfolio-caption">
                        <h4><%= t('portfolio_4_title') %></h4>
                        <p class="text-muted"><%= t('portfolio_4_category') %></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Escape</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dreams</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
        </div>
    </section>