    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><%= t('service_section_title') %></h2>
                    <h3 class="section-subheading text-muted"><%= t('service_section_subtitle') %></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><%= t('service1_title') %></h4>
                    <p class="text-muted"><%= t('service1_description') %></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><%= t('service2_title') %></h4>
                    <p class="text-muted"><%= t('service2_description') %></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tv fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><%= t('service3_title') %></h4>
                    <p class="text-muted"><%= t('service3_description') %></p>
                </div>
            </div>
        </div>
    </section>