    <header>
        <div class="container">
            <div class="intro-text">
                <h1 class="intro-lead-in"><%= t('welcome_title') %></h1>
                <div class="intro-heading"><%= t('welcome_subtitle') %></div>
                <a href="#services" class="page-scroll btn btn-xl"><%= t('tell_me_more') %></a>
            </div>
        </div>
    </header>