    <!-- Navigation -->
    <%= render :partial => 'navigation' -%>
      
    <!-- Header -->
    <%= render :partial => 'welcome' -%>


    <!-- Services Section -->
    <%= render :partial => 'services' -%>

    <!-- Portfolio Grid Section -->
    <%= render :partial => 'portfolio' -%>

    <!-- About Section -->
    <%= render :partial => 'about' -%>    

    <!-- Team Section -->
    <!-- <%= render :partial => 'team' -%> -->  

    <!-- Clients Aside -->
    <%= render :partial => 'clients' -%>        


    <!-- Contact Section -->
    <%= render :partial => 'contact' -%>  

    <%= render :partial => 'footer' -%> 

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->
    <%= render :partial => 'portfolio_modal' -%> 
    
    <script src="js/all.min.js"></script>


