<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    
    <title>Upward Software</title>
    <%= csrf_meta_tags %>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="UpwardSoftware">
    <meta content="Upward Software" name="application-name">
    <meta content="Upward Software" property="og:title">
    <meta content="http://www.upwardsoftware.com" property="og:url">

    <meta name="description" content="We create software last generation with the highest standards">
    <meta name="keywords" content="Software, Development, Web, Apps, Mobile, Design, Maintenance, Bug hunting, IOS, Programing, 3D, 3D Design, Netherland">
    <meta content="imagen de preview" property="og:image">    
    <meta content="We create software last generation with the highest standards" property="og:description">

    <link href="/img/icons/favicon.png" rel="Shortcut Icon">

    <!-- Theme CSS -->
    <link href="css/all.min.css" rel="stylesheet">
      
  </head>

  <body id="page-top" class="index">
    <%= yield %>
    
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-86413626-1', 'auto');
      ga('send', 'pageview');

    </script>
    
  </body>
</html>
